{% extends "parents/base.jinja" %}
{% block content %}
    <h1>{{ project.projectTitle }}</h1>
    <h2 class="h3 fw-light">{{ project.projectSubTitle }}</h2>
    <hr/>
    <p>{{ project.projectDesc }}</p>
{% endblock %}